<div class="container">
    <form [formGroup]="inForm" (ngSubmit)="submit()">
        <div class="form-group">
            <p>Nombre</p>
            <input autofocus type="text" class="form-control" formControlName="name"
                [ngClass]="{'is-invalid':submitted && f.name.errors}">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <p *ngIf="f.name.errors.required">
                    Escribe el nombre de la empresa.
                </p>
            </div>
        </div>
        <div class="form-group">
            <p>Zona de Servicio</p>
            <input type="text" class="form-control" formControlName="service_zone"
                [ngClass]="{'is-invalid':submitted && f.service_zone.errors}">
            <div *ngIf="submitted && f.service_zone.errors" class="invalid-feedback">
                <p *ngIf="f.service_zone.errors.required">
                    Escribe la zona de servicio.
                </p>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-4">
                <p>Teléfono</p>
                <input type="text" class="form-control" formControlName="phone"
                    [ngClass]="{'is-invalid':submitted && f.phone.errors}">
                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                    <p *ngIf="f.phone.errors.required">
                        Escribe el número de teléfono.
                    </p>
                </div>
            </div>
            <div class="form-group col-8">
                <p>Email</p>
                <input type="text" class="form-control" formControlName="email"
                    [ngClass]="{'is-invalid':submitted && f.email.errors}">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <p *ngIf="f.email.errors.required">
                        Escribe el email.
                    </p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <p>Dirección</p>
            <input type="text" class="form-control" formControlName="address"
                [ngClass]="{'is-invalid':submitted && f.address.errors}">
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <p *ngIf="f.address.errors.required">
                    Escribe la dirección exacta.
                </p>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-6">
                <p>Latitud</p>
                <input type="text" class="form-control" formControlName="lat"
                    [ngClass]="{'is-invalid':submitted && f.lat.errors}">
                <div *ngIf="submitted && f.lat.errors" class="invalid-feedback">
                    <p *ngIf="f.lat.errors.required">
                        Escribe la latitud.
                    </p>
                </div>
            </div>
            <div class="form-group col-6">
                <p>Longitud</p>
                <input type="text" class="form-control" formControlName="lng"
                    [ngClass]="{'is-invalid':submitted && f.lng.errors}">
                <div *ngIf="submitted && f.lng.errors" class="invalid-feedback">
                    <p *ngIf="f.lng.errors.required">
                        Escribe la longitud.
                    </p>
                </div>
            </div>
        </div>
        <p>Horario de atención</p>
        <div class="form-row">
            <div class="form-group col-6">
                <p>Desde</p>
                <input type="text" class="form-control" formControlName="start_time"
                    [ngClass]="{'is-invalid':submitted && f.start_time.errors}">
                <div *ngIf="submitted && f.start_time.errors" class="invalid-feedback">
                    <p *ngIf="f.start_time.errors.required">
                        Escribe la hora inicial de atención
                    </p>
                </div>
            </div>
            <div class="form-group col-6">
                <p>Hasta</p>
                <input type="text" class="form-control" formControlName="end_time"
                    [ngClass]="{'is-invalid':submitted && f.end_time.errors}">
                <div *ngIf="submitted && f.end_time.errors" class="invalid-feedback">
                    <p *ngIf="f.end_time.errors.required">
                        Escribe la hora final de atención.
                    </p>
                </div>
            </div>
        </div>
        <button class="btn btn-primary mb-2">Guardar Cambios</button>
    </form>
</div>