<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <!-- (change)="getCanton(true)" -->
                        <select class="form-control" [(ngModel)]="query" (change)="preparing()">
                            <option [ngValue]="0" disabled>Tipo De Consulta</option>
                            <option [ngValue]="1">Rutas por empresa</option>
                            <option [ngValue]="2">Ruta específica</option>
                            <option [ngValue]="3">Ruta por destino</option>
                            <option [ngValue]="4">Ruta por parada común</option>
                            <option [ngValue]="5">Quiero ir a...</option>
                        </select>
                    </div>



                    <div *ngIf="query === 1">
                        <div class="form-group">
                            <label>Compañía</label>
                            <select class="form-control" [(ngModel)]="selectedCompany" (change)="selectCompany()">
                                <option [ngValue]="null" disabled>Seleccione</option>
                                <option *ngFor="let c of companies" [ngValue]="c">{{c.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div *ngIf="query === 2">
                        <div class="form-group">
                            <label>Numero de ruta</label>
                            <select class="form-control" [(ngModel)]="selectedRoute" (change)="selectRoute()">
                                <option [ngValue]="null" disabled>Seleccione</option>
                                <option *ngFor="let c of allRoutes" [ngValue]="c">Ruta #{{c.number}}</option>
                            </select>
                        </div>
                    </div>

                    <div *ngIf="query === 3">
                        <label>Destino</label>
                        <div class="form-group">
                            <select class="form-control" [(ngModel)]="selectedProvince" (change)="selectProvince()">
                                <option [ngValue]="null" disabled>Provincia</option>
                                <option *ngFor="let p of provinces" [ngValue]="p">{{p.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" [(ngModel)]="selectedCanton" (change)="selectCanton()">
                                <option [ngValue]="null" disabled>Canton</option>
                                <option *ngFor="let p of cantones" [ngValue]="p">{{p.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">

                            <select class="form-control" [(ngModel)]="selectedDistric" (change)="selectDistric()">
                                <option [ngValue]="null" disabled>Distrito</option>
                                <option *ngFor="let p of districs" [ngValue]="p">{{p.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div *ngIf="query === 4">
                        Haga click en en mapa sobre una parada en especifico.
                    </div>

                    <div *ngIf="query === 5">
                        <label>Origen</label>
                        <div class="form-group">
                            <select class="form-control" [(ngModel)]="selectedProvince" (change)="selectProvince2()">
                                <option [ngValue]="null" disabled>Provincia</option>
                                <option *ngFor="let p of provinces" [ngValue]="p">{{p.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" [(ngModel)]="selectedCanton" (change)="selectCanton2()">
                                <option [ngValue]="null" disabled>Canton</option>
                                <option *ngFor="let p of cantones" [ngValue]="p">{{p.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">

                            <select class="form-control" [(ngModel)]="selectedDistric" (change)="selectDistric2()">
                                <option [ngValue]="null" disabled>Distrito</option>
                                <option *ngFor="let p of districs" [ngValue]="p">{{p.name}}</option>
                            </select>
                        </div>
                        <hr>
                        <div *ngIf="typee">
                            <label>Destino</label>
                            <div class="form-group">
                                <select class="form-control" [(ngModel)]="selectedProvince2"
                                    (change)="selectProvince3()">
                                    <option [ngValue]="null" disabled>Provincia</option>
                                    <option *ngFor="let p of provinces2" [ngValue]="p">{{p.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" [(ngModel)]="selectedCanton2" (change)="selectCanton3()">
                                    <option [ngValue]="null" disabled>Canton</option>
                                    <option *ngFor="let p of cantones2" [ngValue]="p">{{p.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">

                                <select class="form-control" [(ngModel)]="selectedDistric2" (change)="selectDistric3()">
                                    <option [ngValue]="null" disabled>Distrito</option>
                                    <option *ngFor="let p of districs2" [ngValue]="p">{{p.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <div class="col-9">
            <div class="osm-map" leaflet (leafletMapReady)="onMapReady($event)" [leafletOptions]="options"
                (leafletClick)="onClickMap($event)">
            </div>
        </div>
    </div>


</div>