<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-6">

            <p *ngIf="signInFail">
                <ngb-alert [type]="signInFail.type" (close)="closeSignInFail()">{{ signInFail.message }}</ngb-alert>
            </p>

            <p *ngIf="signUpSuccess">
                <ngb-alert [type]="signUpSuccess.type" (close)="closeSignUpSuccess()">{{ signUpSuccess.message }}
                </ngb-alert>
            </p>

            <div class="card">
                <div class="card-body">
                    <form [formGroup]="inForm" (ngSubmit)="submit()">
                        <div class="form-group">
                            <p>Usuario</p>
                            <input autofocus formControlName="username" class="form-control" type="text"
                                [ngClass]="{'is-invalid':submitted && f.username.errors}">
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <p *ngIf="f.username.errors.required">
                                    Escribe tu nombre de usuario.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <p>Contraseña</p>
                            <input formControlName="password" class="form-control" type="password"
                                [ngClass]="{'is-invalid':submitted && f.password.errors}">
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <p *ngIf="f.password.errors.required">
                                    Escribe tu contraseña.
                                </p>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block">Iniciar Sesión</button>
                    </form>
                    <hr>
                    <p>¿Aún no tienes cuenta? <a routerLink="/registrarme">¡Regístrate ya!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>