<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-6">
            <p *ngIf="changeDone">
                <ngb-alert [type]="changeDone.type" (close)="closeChangeDone()">{{ changeDone.message }}</ngb-alert>
            </p>
            <p *ngIf="changeFailed">
                <ngb-alert [type]="changeFailed.type" (close)="closeChangeFailed()">{{ changeFailed.message }}
                </ngb-alert>
            </p>
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="inForm" (ngSubmit)="submit()">
                        <div class="form-group">
                            <label>Contraseña actual</label>
                            <input autofocus class="form-control" type="password" formControlName="current_password"
                                [ngClass]="{'is-invalid':submitted && f.current_password.errors}">
                            <div *ngIf="submitted && f.current_password.errors" class="invalid-feedback">
                                <p *ngIf="f.current_password.errors.required">
                                    Escribe tu contraseña actual.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <p>Contraseña nueva</p>
                            <input formControlName="new_password" class="form-control" type="password"
                                [ngClass]="{'is-invalid':submitted && f.new_password.errors}">
                            <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
                                <p *ngIf="f.new_password.errors.required">
                                    Escribe tu nueva contraseña.
                                </p>
                                <p *ngIf="f.new_password.errors.minlength">
                                    La contraseña tiene mínimo 4 caracteres.
                                </p>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block">Cambiar contraseña</button>
                    </form>
                </div>
            </div>
            <br>
            <hr>

            <div class="text-center">
                <a class="btn btn-secondary" href="http://localhost:8000/api/new_place" target="_blank">Generar reporte de nuevos lugares</a>
            </div>
        </div>
    </div>
</div>