<div class="container">

    <p *ngIf="message">
        <ngb-alert [type]="message.type" (close)="closeMessage()">{{ message.message }}</ngb-alert>
    </p>
    <p>
        ¿No encuentras una ruta?<button [routerLink]="['/','nueva-empresa']" type="button"
            class="btn btn-outline-primary ml-2">Crea una nueva</button>
    </p>
    <ng-template ngFor let-c [ngForOf]="companies">
        <div class="card mb-2">
            <div class="card-body">
                <h3 class="card-title">{{c.name}}</h3>
                <p class="card-text">
                    Dirección: {{c.address}}<br>
                    Teléfono: {{c.phone}}
                </p>

                <div *ngIf="c.status === 1" class="text-right">
                    <button [value]="c.id_company" (click)="editCompany($event.currentTarget)" type="button"
                        class="btn btn-primary">Detalles</button>
                    <button [value]="c.id_company" (click)="deleteCompany(c.id_company)" type="button"
                        class="btn btn-danger ml-2">Eliminar</button>
                </div>

                <div *ngIf="c.status === 0" class="text-right">
                    <button [value]="c.id_company" (click)="restoreCompany(c.id_company)" type="button"
                    class="btn btn-success ml-2">Recuperar</button>
                </div>
            </div>
        </div>
    </ng-template>
</div>