<div class="container">

    <p *ngIf="createdRoute">
        <ngb-alert [type]="createdRoute.type" (close)="closeCreatedRoute()">{{ createdRoute.message }}</ngb-alert>
    </p>
    <p *ngIf="deletedRoute">
        <ngb-alert [type]="deletedRoute.type" (close)="closeDeleteRoute()">{{ deletedRoute.message }}</ngb-alert>
    </p>
    <p>
        ¿No encuentras una ruta?<button [routerLink]="['/','nueva-ruta']" type="button"
            class="btn btn-outline-primary ml-2">Crea una nueva</button>
    </p>
    <p *ngIf="noRoutes">
        <ngb-alert [type]="noRoutes.type" (close)="closeNoRoutes()">{{ noRoutes.message }}</ngb-alert>
    </p>
    <ng-template ngFor let-r [ngForOf]="routes">
        <div class="card mb-2">
            <div class="card-body">
                <h4 class="card-title d-inline ">Destino: {{r.distric_name}},{{r.canton_name}},{{r.province_name}}</h4>
                <div class="h6 text-muted">Duración: {{r.duration}} minutos</div>
                <div class=" d-inline">
                    <span class="font-weight-bold">Numero de ruta:</span> {{r.number}}
                </div>
                <div class="d-inline">
                    <span class="font-weight-bold">Costo:</span> ₡{{r.ticket_cost}}
                </div>

                <div class="d-block">
                    <span class="font-weight-bold">Compañia:</span> {{r.company_name}}
                </div>
                <div class="text-right">
                    <button [value]="r.id_route" [routerLink]="[ '/editar-ruta', r.id_route ]" type="button"
                        class="btn btn-primary">Detalles</button>
                    <button (click)="deletePoints(r.id_route)" type="button"
                        class="btn btn-danger ml-2">Eliminar</button>
                </div>

            </div>
        </div>
    </ng-template>
</div>